---
layout: page
title: "Resume"
permalink: /resume/
skillsets:
  research: [Survey Design, User Interviews, Usability Testing, Heuristic Evaluations]
  prototyping: [Storyboarding, Personas/Scenarios, Rapid Prototyping, HTML & CSS, Sketch 3, Axure, Twitter Bootstrap]
  design: [Illustrator, Photoshop]
  programming: [Java, Javascript, SQL, UNIX]
---

<div class="resumeSkill">
	{% for skillset in page.skillsets %}
		<h3> {{ skillset[0] }} </h3>
		{% assign skills = skillset[1] %}
		<ul>
			{% for skill in skills %}
			<li>{{ skill }}</li>
			{% endfor %}
		</ul>
	{% endfor %}
</div>

<div class="resumeContent">
	<h2>Education</h2>
	<h3>University of Washington, Seattle</h3>
	<p>Graduating in Spring 2015</p>
	<p>BS Informatics, Human Computer Interaction</p>

	<h2>Work Experience</h2>

	<h3>Medbridge Inc - UX Design Intern</h3>
	<p>Fall 2014</p>

	<ul>
		<li>Develop UI architecture with the design team to shape overall user experience of website and web applications.</li>
		<li>Develop features with a user centerd design apporach and analyze design changes via user research.</li>
	</ul>

	<h3>Amazon - User Research Intern, Warehouse Deals Team</h3>
	<p>Summer 2014</p>

	<ul>
		<li>Designed, conducted and analyzed results from research studies to improve conversion rates on the Warehouse Deals page.</li>
		<li>Assisted UX researchers with the design of surveys and usability scripts.</li>
	</ul>

	<h3>UW IT Learning Technologies - Senior Systems Administrator</h3>
	<p>2012 - Present</p>

	<ul>
		<li>Develop scalable and automated OS deployment systems.</li>
		<li>Analyze and optimize internal deployment workflows based on surveys and user research.</li>
	</ul>

	<br>

	<a href="/files/resume.pdf" class="button">download full resume (PDF)</a>

	<br>

</div>
