<footer class="site-footer">
  <div class="footer" style="
  background-image: url(
  {% if page.banner %}
      /images/{{ page.banner }}
  {% else %}
      {% asset_path gray.png %}
  {% endif %}
  );">
    
    <div class="wrap">
      <section class="social">
        <a href="http://github.com/{{ site.username }}">
          <i class="fa fa-github fa-2x"></i>
        </a>
        <a href="http://linkedin.com/in/{{ site.username }}" >
          <i class="fa fa-linkedin fa-2x"></i>
        </a>
      </section>
    </div>
  </div>

</footer>
